//Cactus Classical Serif
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
//Noto Sans TC
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.Noto {
  font-family: "Noto Sans TC", sans-serif;
}

.Cactus {
  font-family: "Cactus Classical Serif", serif;
}

body {
  letter-spacing: 0.02em;
  color: $neutral-900;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 強制覆蓋 Bootstrap 的 overflow */
body.modal-open {
  overflow: hidden !important;
}

body:not(.modal-open) {
  overflow: auto !important;
  padding-right: 0 !important;
}
