.member-side-menu {
  width: 312px;
  padding: 36px 16px;
  border: 1px solid #dee2e6;
  box-shadow: 2px 4px 8px rgba(184, 150, 104, 0.5);
  ul {
    max-width: 280px;
  }
  li {
    &:hover {
      background-color: $secondary-200;
    }
  }
  .nav-link {
    color: $neutral-600;
  }
}
.nav-link.active {
  background-color: $secondary-100;
  color: $neutral-900;
}
#account-tab .tab-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../../../public/images/member/user-circle.png");
  background-size: contain;
}

#record-tab .tab-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../../../public/images/member/history.png");
  background-size: contain;
}

.member-position-relative {
  position: relative;
}

.member-tab-content {
  width: calc(100% - 312px);
}

.member-tab-pane {
  margin: 0 auto;
  padding: 48px 0;
}

.form-control::placeholder {
  color: rgba(173, 181, 189, 1);
}
.form-check.form-control {
  padding-left: 40px;
  gap: 8px;
}
.radio {
  &:hover {
    background-color: $secondary-300;
  }
  &:active {
    background-color: $secondary-500;
  }
}
.form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0.375rem;
}
.form-check-label {
  margin-top: 0.25rem;
}

.contrib-submit-btn {
  background-color: $primary-500;
  &:hover {
    background-color: $primary-800;
    border: 1px solid $neutral-900;
  }
}

.member-tab-pane {
  display: none;
}
.member-tab-pane.active {
  display: block;
}
.account-input {
  width: 622px;
  height: 48px;
}

.form-container {
  max-width: 768px;
}

.account-submit-btn {
  padding: 8px 85px;
}

/* RWD */
@media (max-width: 991.98px) {
  .member-tab-content {
    width: 100%;
  }
  .nav-link.active {
    background-color: white;
    border-bottom: 2px solid $secondary-500;
  }
}

@media (max-width: 768px) {
  .contrib-submit-btn {
    width: calc((100% - 24px) / 2);
  }
}
